<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">Login</div>
        <div class="panel-body">
            <div ng-show="errorMessage" class="alert alert-warning">
                {{errorMessage}}
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="text" class="form-control" id="email" ng-model="Login.user.email" placeholder="name@domain.com">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" ng-model="Login.user.password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default" ng-click="Login.login()">Login</button>
        </div>
    </div>
</div>
